.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-container label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #0056b3;
}


.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color:#007bff ;
    color: white;
}

.navbar .title {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px; 
}

@media screen and (max-width: 600px) {
    .navbar a, .navbar .title {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    table {
    font-size: 12px; 
    }
}

.search-container {
    padding: 20px;
    text-align: center;
}

.search-container input[type=text] {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container input[type=date] {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}


.container {
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border:2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding:20vh;
}
.admin-button {
    position: absolute;
    top: 4%;
    right: 4%;
}
.image-placeholder {
    width: 250px;
    height: 250px;
    background-image: url(home.jpg);
    background-size:cover;
    margin: 0 auto 20px auto;
}
.continue-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}


.button-65 {
    z-index: 10;
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }

  header {
    position: absolute;
    top: 0;
    width: 85%;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
header img {
    height: 50px;
    margin-right: 20px;
}
header h1 {
    margin: 0;
    font-size: 24px;
}
.admin-button {
    position: absolute;
    top: 20px;
    right: 20px;
}
}